body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0; 
    padding: 0;
}
h1 {
    color: antiquewhite;
}
h5 {
    color: antiquewhite;
}
header {
    background:rgb(0, 0, 0);
    padding: 10px;
    margin: 0;
}
footer {
    text-decoration-color: antiquewhite;
    background:rgb(0, 0, 0);
    padding: 2px 10px;
}
section {
    background: rgb(91, 91, 99);
    color: antiquewhite;
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    display: inline-block;
    margin: 0;
}
button{
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    display: in;
    font-size: 16px;
}
aside{
    width: 15%;
    float: left;
    background-color: black;
    height: 100%;
}
.StateSelect {
    margin: 15px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    width: 100%;
}
.state {
    width: 100%;
    background-color: rgb(14, 14, 49);
}
.custom-select{
    width: 100%;
    background-color: rgb(14, 14, 49);
}
.map{
    overflow: hidden;
}