<!DOCTYPE html>
<html>
    <head>
        <title>States</title>
        <link rel="stylesheet" href="static/css/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                // SELECT MENU
                $("#StateSelect").change(function() {
                    var value = $(this).val();
        
                //IFRAME TAG
                    console.log(value);
                    $("#Frame").attr('src', value);
                })
            });
        </script>
    </head>
    <body>
        <header>
            <h1 class="logo">COVID-19 in the US</h1>
        </header>
        <section>
            <nav>
              <ul>
                <li><a href="{{ url_for('us') }}"><button>US</button></a></li>
                <li><a href="{{ url_for('dd') }}"><button>States</button></a></li>
              </ul>
            </nav>
        </section>
        <div class=state>
            <ul>
                <div class='custom-select'>
                    <select id="StateSelect">
                        <option value="" disabled selected>Select a State</option>
                        <option value="{{ url_for('al') }}">Alabama</option>
                        <option value="{{ url_for('ak') }}">Alaska</option>
                        <option value="{{ url_for('az') }}">Arizona</option>
                        <option value="{{ url_for('ar') }}">Arkansas</option>
                        <option value="{{ url_for('ca') }}">California</option>
                        <option value="{{ url_for('co') }}">Colorado</option>
                        <option value="{{ url_for('ct') }}">Connecticut</option>
                        <option value="{{ url_for('de') }}">Delaware</option>
                        <option value="{{ url_for('fl') }}">Florida</option>
                        <option value="{{ url_for('ga') }}">Georgia</option>
                        <option value="{{ url_for('hi') }}">Hawaii</option>
                        <option value="{{ url_for('id') }}">Idaho</option>
                        <option value="{{ url_for('il') }}">Illinois</option>
                        <option value="{{ url_for('ind') }}">Indiana</option>
                        <option value="{{ url_for('ia') }}">Iowa</option>
                        <option value="{{ url_for('ks') }}">Kansas</option>
                        <option value="{{ url_for('ky') }}">Kentucky</option>
                        <option value="{{ url_for('la') }}">Louisiana</option>
                        <option value="{{ url_for('me') }}">Maine</option>
                        <option value="{{ url_for('md') }}">Maryland</option>
                        <option value="{{ url_for('ma') }}">Massachusetts</option>
                        <option value="{{ url_for('mi') }}">Michigan</option>
                        <option value="{{ url_for('mn') }}">Minnesota</option>
                        <option value="{{ url_for('ms') }}">Mississippi</option>
                        <option value="{{ url_for('mo') }}">Missouri</option>
                        <option value="{{ url_for('mt') }}">Montana</option>
                        <option value="{{ url_for('ne') }}">Nebraska</option>
                        <option value="{{ url_for('nv') }}">Nevada</option>
                        <option value="{{ url_for('nh') }}">New Hampshire</option>
                        <option value="{{ url_for('nj') }}">New Jersey</option>
                        <option value="{{ url_for('nm') }}">New Mexico</option>
                        <option value="{{ url_for('ny') }}">New York</option>
                        <option value="{{ url_for('nc') }}">North Carolina</option>
                        <option value="{{ url_for('nd') }}">North Dakota</option>
                        <option value="{{ url_for('oh') }}">Ohio</option>
                        <option value="{{ url_for('ok') }}">Oklahoma</option>
                        <option value="{{ url_for('ore') }}">Oregon</option>
                        <option value="{{ url_for('pa') }}">Pennsylvania</option>
                        <option value="{{ url_for('ri') }}">Rhode Island</option>
                        <option value="{{ url_for('sc') }}">South Carolina</option>
                        <option value="{{ url_for('sd') }}">South Dakota</option>
                        <option value="{{ url_for('tn') }}">Tennessee</option>
                        <option value="{{ url_for('tx') }}">Texas</option>
                        <option value="{{ url_for('ut') }}">Utah</option>
                        <option value="{{ url_for('vt') }}">Vermont</option>
                        <option value="{{ url_for('va') }}">Virginia</option>
                        <option value="{{ url_for('wa') }}">Washington</option>
                        <option value="{{ url_for('wv') }}">West Virginia</option>
                        <option value="{{ url_for('wi') }}">Wisconsin</option>
                        <option value="{{ url_for('wy') }}">Wyoming</option>
                    </select>
                </div>
            </ul>
        </div>  
        <div class="box">
            <iframe id="Frame" src="" frameborder="0" scrolling="no" width="100%" height="650"></iframe>
        </div>
        <footer><h5>Made in the USA by Shiven Patel</h5></footer>
    </body>
</html>