<html>
    <head>
        <title>COVID-19</title>
        <meta name="google-site-verification" content="_vgofUcc1uXHkmOTDbflPlxeIsZbShG3R17KDZSPVmE" />
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                // SELECT MENU
                $("#StateSelect").change(function() {
                    var value = $(this).val();
        
                //IFRAME TAG
                    console.log(value);
                    $(".usmapframe").attr('src', value);
                })
            });
        </script>
    </head>
    <body>
        <div class="header">
            <a href="{{url_for('main')}}" class="logo">COVID-19</a>
            <div class='nav'>
                <a href="{{url_for('us')}}" class="us-button">National</a>
                <a href="{{url_for('dd')}}" class="states-button">States</a>
                <a href="https://github.com/shivenspatel/spcovid19" class="about-button"> About </a>
            </div>
        </div>
        <div class=state>
            <ul>
                <div class='map-select'>
                    <select id="MapSelect">
                        <option value="{{ url_for('usposmap') }}">Cases per 100K Citizens</option>
                        <option value="{{ url_for('usdeamap') }}">Deaths per 100K Citizens</option>
                    </select>
                </div>
            </ul>
        </div>
        <div class="mainpagemap">
            <iframe class='usmapframe' width="100%" height="100%" src="{{ url_for('usposmap') }}"></iframe>
        </div>
    </body>
</html>