<html>
    <head>
        <title>US</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
        <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                // SELECT MENU
                $("#Select").change(function() {
                    var value = $(this).val();
        
                //IFRAME TAG
                    console.log(value);
                    $("#Frame").attr('src', value);
                })
            });
        </script>
    </head>
    <body>
        <div class="header">
            <a href="{{url_for('main')}}" class="logo">COVID-19</a>
            <div class='nav'>
                <a href="{{url_for('us')}}" class="us-button">National</a>
                <a href="{{url_for('dd')}}" class="states-button">States</a>
                <a href="{{url_for('comp')}}" class="compare-button">Compare States</a>
            </div>
        </div>
        <div class='select-div'>
            <select id="Select">
                <option value="" disabled selected>Select a Graph</option>
                <option value="{{ url_for('usg') }}">Positivity Rate</option>
                <option value="{{ url_for('usdr') }}">Death Rate</option>
                <option value="{{ url_for('usc') }}">New Deaths</option>
                <option value="{{ url_for('usp') }}">New Cases</option>
                <option value="{{ url_for('ush') }}">Hospitalization Data</option>
                <option value="{{ url_for('ust') }}">Testing Data</option>
                <option value="{{ url_for('usgm') }}">Google Mobility Report</option>
            </select>
        </div>

        <div class="graph">
            <iframe id='Frame' src="{{ url_for('usg') }}" width="100%" height="100%"></iframe>
        </div>
        <div class='footer'>
            <a href='https://github.com/shivenspatel/spcovid19' class="madeby">Made in the USA by Shiven Patel</a>
        </div>
    </body>
</html>