
    <!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" href="static/css/main.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script>
                $(document).ready(function() {
                    $("#GraphSelect").change(function() {
                        var value = $(this).val();

                        console.log(value);
                        $("#Frame").attr('src', value);
                    })
                });
            </script>
        </head>
    
        <body>
            <div class='custom-select'>
                <select id="GraphSelect">
                    <option value="{{ url_for('alg') }}">Positivity Rate</option>
                    <option value="{{ url_for('alc') }}">Daily New Deaths</option>
                    <option value="{{ url_for('alp') }}">Daily New Positives</option>
                </select>
            </div>
            <div class="map">
                <iframe src="{{ url_for('alm') }}" frameborder="0" scrolling="no" width="50%" height="625" align="right"> </iframe>
            </div>
            
            <div class="box">
                <iframe id="Frame"  src="{{ url_for('alg') }}" frameborder="0" scrolling="no" width="50%" height="625" align="left"></iframe>
            </div>
        </body>
    </html> 
    